body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
}

h2
form {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

form h2 {
    font-size: 20px;
    margin: 10px 0;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#horariosTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#horariosTable th, #horariosTable td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

#theme-toggle {
    margin-top: 20px;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#theme-toggle:hover {
    background-color: #0056b3;
}

.dark-theme {
    background-color: #333;
    color: #fff;
    
}

.dark-theme button {
    background-color: #666;
}
